*.diff
*.exp
*.log
*.out
*.php
php_5.3.3-*
php5-easybib_*

*.gcno
*.gcda
*.lo
*.o 
*.la
*.a
*.so
.libs

php-5.3.3/Makefile
php-5.3.3/Makefile.fragments
php-5.3.3/Makefile.objects
php-5.3.3/config.cache
php-5.3.3/config.nice
php-5.3.3/config.status

php-5.3.3/debian/php5-easybib/
php-5.3.3/debian/php5-easybib.substvars

#php-5.3.3/libphp5.la
#php-5.3.3/sapi/cli/php
#php-5.3.3/sapi/fpm/php-fpm
#php-5.3.3/modules/*
#php-5.3.3/libs/*
