#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PHP_PREFIX=/usr/local
PHP_USER=www-data
PHP_GROUP=www-data

OPTS=--with-config-file-path=$PHP_PREFIX/etc \
	--with-config-file-scan-dir=$PHP_PREFIX/etc/php \
	--prefix=$PHP_PREFIX \
	--with-pear=$PHP_PREFIX/pear \
	--enable-sockets \
	--enable-soap \
	--with-openssl \
	--disable-posix \
	--without-sqlite \
	--without-sqlite3 \
	--with-mysqli=mysqlnd \
	--disable-posix \
	--disable-phar \
	--disable-pdo \
	--enable-pcntl \
	--with-curl \
	--enable-fpm \
	--with-fpm-user=$PHP_USER \
	--with-fpm-group=$PHP_GROUP \

configure:
	./configure $OPTS

%:
	dh  $@
