#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PHP_USER=www-data
PHP_GROUP=www-data
PHP_PREFIX=/usr
prefix=$PHP_PREFIX

override_dh_auto_configure:
	dh_auto_configure -- \
		--with-config-file-path=${PHP_PREFIX}/etc --with-config-file-scan-dir=${PHP_PREFIX}/etc/php \
		--prefix=${PHP_PREFIX} \
		--with-pear=${PHP_PREFIX}/pear \
		--enable-sockets \
		--enable-soap \
		--with-openssl \
		--with-tidy \
		--enable-pcntl \
		--with-curl \
		--with-mysqli=mysqlnd \
		--disable-posix \
		--without-sqlite --without-sqlite3 \
		--disable-phar \
		--disable-pdo \
		--disable-short-tags \
		--disable-ipv6 \
		--enable-fpm --with-fpm-user=${PHP_USER} --with-fpm-group=${PHP_GROUP}

override_dh_auto_test:

%:
	dh  $@
